*{
    margin:0;
    padding:0;
    border:none;
}

body{
    font-family: 'palatino';
}

img{
max-width: 100%;
}  

.container{
    max-width: 1140px;
    border: 0;
    padding: 16px;
    padding-top: 16px;
    position:relative; /*acts as a ref point to positioned elements inside of it*/
}

header{
    width: 60%;
    float: left;
}
/*header and nav styles*/

header img{
    max-width:90%;
}
    
h2{
        font-size: 1.2em;
    }
}

h1{
    font-family:'Anton'sans-serif;
}

.orange-color{
    color:orange;
}

.fluid-image{
    width: 100%;
}

p{
    margin-bottom: 1em;
    margin-top: 1em;
}
h3{
    margin-top: 1em;
}

nav{
    margin-top: 1em;
    float:right;
    width: 20%;  
}

.menu-button{
    text-align: right;
}

.menu-nav{
    border: solid 1px #333;
    position:absolute;
    right:16px;
    background-color: aqua;
    width:200px;
}
.main-menu ul {
    /*display:none;*/
    display: block;
    list-style-type: none;
    border: none;
    width: 100%;
    background-color: aqua;
    padding-top: 1em;
    padding-bottom: 1em;
    position:absolute;
        
}
@media(min-width:768px){
    
    nav{
        width: 60%;
    }
    header{
        width:30%;
    }
    
    .menu-button{display:none;
    }
    
.main-menu ul {
    /*display:none;*/
    display: block;
    list-style-type: none;
    border: none;
    position:static;
    width: 100%;
    background-color: aqua;
    padding-top: 1em;
    padding-bottom: 1em;
        
}
    nav a{
        color:white;
        margin-right:2em;
        text-decoration:none;
        text-transform: uppercase;
        font-family:verdana;
    }
    
.main-menu li{
    height: 36px;
    padding-top: 0;
    margin-bottom: 0;
    border-bottom: none;
    padding-left: 0;
    display: inline-block;
    margin-left: 2em;
    margin-right: 0;
}
    
 .main-menu li:last-child{ /* targets last list item */
   border-bottom: none;
    margin-bottom:0;
}

.main-menu a{
    text-decoration: none;
    text-transform: uppercase;
}

.main-menu form{
    padding:5px;
}

.main-menu input{
    width:65%;
    border:solid 1px #ccc;
    padding:5px;
}

.main-menu button{
    width:30%;
    border:solid 1px #ccc;
    padding:5px;

    float: right;
}
  
}

/* ******* */

a{
    color: #186898;
}

a:hover{
    color:#bc477b;
}

a:active{
    color:orange;
}

.fluid-image{
    width:100%;
}

p{
    margin-bottom:1em;
    margin-top:1em;
}

h3{
    margin-top:1em;
}
/* ***** Desktop styles  **** */

@media(min-width: 768px){

    header{
        width:30%;
    }   

     nav{
        width:60%;
    }   

    .menu-button{
        display: none;
    }

    .menu-nav{
        display:block;
        border: none;
        position:static;
        width:100%;
        text-align: right;
        }

    .main-menu li{
        height:auto;
        padding-top:5px;
        padding-bottom:5px;
        margin-bottom: 0;
        border-bottom: none;
        padding-left:0;
        display: inline-block;
        background-color:transparent;
        width:100px;
        margin-left:1px;
        margin-right:0;
        text-align: center;
        }


        .main-menu ul{
            float:left;
        }


        .main-menu form{
            padding:0;
            float:right;
        }

        .main-menu input{
            width:auto;

        }

        .main-menu button{
            width:auto;
            float: none;
        }

        .main-menu li ul{
            display:none;
        }

        .main-menu li li{
            display:block;
            border: solid 1px #ccc;
            padding: 5px;
            background-color: #fff;
        }

        .main-menu li:hover ul{
            display:block;
            position:absolute;
        }





}


